@charset "utf-8";
/* CSS Document */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin:0;
	padding:0;
	border:0;
}

*{
	font-family:'GmarketSansTTFLight';
	font-size:13px;
}

body{
	background-image: url( "../images/background-mobile.jpg" );
	background-position: center;
	background-repeat: no-repeat;
	background-color:#000;
	background-size:cover;
}

#content_wrapper{
	overflow:hidden;
}

#content{
	display:flex;
	flex-direction:column;
	width:340px;
	margin:0px auto 0px auto;
	overflow:hidden;
}

#profile_wrapper{
	float:left;
	order:1;
	width:340px;
	height:540px;
}
#result_left_wrapper{
	order:2;
	width:340px;
	height:461px;
}
#result_left{
	margin-top:20px;
}
#result_right_wrapper{
	order:3;
	width:340px;
	height:390px;
}
#result_right{
	margin-top:20px;
}

@media (min-width:1020px){
	#content{
		display:block;
		flex-direction:inherit;
		width:1020px;
		margin:150px auto 0px auto;
	}
	#profile_wrapper{
		float:left;
		width:300px;
		height:540px;
		background-color: rgba( 0, 0, 0, 0.9 );
		border-radius: 20px;
		margin-top:0px;
	}
	#result_left_wrapper{
		float:left;
		margin-right:10px;
	}

	#result_right_wrapper{
		float:left;
		margin-left:10px;
	}
}

@media (min-width:421px){
	body{
		background-image: url( "../images/background.jpg" );
	}
}

#content_wrapper{
	display:block;
}
#profile_wrapper a{
	text-decoration:none;
	color:#fff;
}
#profile_wrapper a:hover{
	text-decoration:underline;
}
#profile_wrapper table{
	width:100%;
	height:500px;
	text-align:center;
	vertical-align:middle;
	color:#fff;
	margin-top:20px;
	background-color: rgba( 0, 0, 0, 0.9 );
	border-radius: 20px;
}
#shortcut_list img{
	margin:0px 5px 0px 5px;
}