@charset "utf-8";

.slide-container {
  width: 665px;
  position: relative;
  margin: auto;
}

.slide-container img{
	vertical-align: middle;
}

.sliding-container {
  width:665px;
  height:140px;
  overflow:hidden;
  position:relative;
  margin: 0 auto;
}
.sliding-container ul{
	width:1330px;
	position:absolute;
	top:0;
	left:0;
	font-size:0;
}

.sliding-container ul li{
	display: inline;
	display: inline-block;
}